
<div class="show-container">
  <div class="show-main" style="background-image: url('<%= cl_image_path @place.photos[0].key %>')">
  </div>
  <div class="place-container container">
    <div class="place-info border-bottom">
      <h1 id="show-title"> <%= @place.name.capitalize %> </h1>
      <p id="show-address"> <%= @place.address %> </p>
      <p id="show-url"> <%= @place.url %> </p>
        <!-- Slider main container -->
      <div class="swiper-container s1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <% @place.photos.each do |photo| %>
            <div class="swiper-slide show-photo" style="background-image: url('<%= cl_image_path photo.key, height: 800, width: 800, crop: :thumb, gravity: :face %>')"></div>
          <% end %>
        </div>
        <!-- If we need pagination -->
      </div>
    </div>
    <div class="show-description border-bottom d-flex align-items-center">
      <%= @place.description %>
    </div>
    <div class="show-reviews border-bottom">

      <!-- Add review button -->
      <div type="button" class="review-button" data-toggle="modal" data-target="#review-modal">
        Add a review <i class="fas fa-plus"></i>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" id="review-modal-content">
            <div class="modal-header border-bottom-0" id="review-modal-header">
              <h5 class="modal-title" id="modal-review-title">New review</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@place, @review] do |f| %>
                <%= f.input :rating %>
                <%= f.input :content %>
                <%= f.collection_check_boxes :genres, Genre.all, :id, :name %>
            </div>
            <div class="modal-footer" id="review-modal-footer">
              <%= f.submit class: "btn btn-primary btn-sm rounded"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <p id="reviews-title">Reviews</p>
      <% if @place.reviews %>
      <!-- Slider main container -->
        <div class="swiper-container s2">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <% @place.reviews.each do |review| %>
            <div class="swiper-slide">
              <div class="reviews-card">
                <p class="review-user"> <%= review.user.email  %> </p>
                <div class="reviews-info d-flex align-items-end">
                  <p class="review-content"> <%= review.content %> </p>
                </div>
                <p class="review-rating ">
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </p>
                <div class="tags-container d-flex align-items-center">
                  <% if review.genres_reviews %>
                    <% review.genres_reviews.each do |genre_review|%>
                      <div class="tag d-flex align-items-center">
                        <p class="tag-genre"> <%= genre_review.genre.name.capitalize %> </p>
                      </div>
                    <% end %>
                  <% else %>

                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <p class="review-content">No reviews yet</p>
      <% end %>
    </div>
  </div>
</div>

